@import 'node_modules/bootstrap/scss/bootstrap';


$mainNavHeight: 110px;
$cardPagePadding:0px;
$cardPagePaddingFirstAndLast: 5px;
$pagesListFollowingToShow: calc(20px + 2*$cardPagePadding);
$pageListeHeight: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow));

#pages-footer-main-nav a.active {
  color: $primary;
  border: 2px solid red;
  background-color: rgba(0, 0, 0, 0);
}

/* ##############################################################
                    STORIESPAGE COMPOMENTS 
##################################################################*/
// STORY CARD
.story-card-container{
    min-height: calc(100dvh - $mainNavHeight);
    max-height: calc(100dvh - $mainNavHeight);
}
.story-card{
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

.stories-footer-container{
    margin-top:100px;
}


// STORY EDIT MODAL
.story-editModal{
   min-height: 100%; 
   max-height: 100%;
   overflow: auto;
   scrollbar-width: thin;
}

.story-summary{
    height: calc(100dvh - 300px);
 }


/* ##############################################################
                    PAGESPAGE COMPOMENTS 
##################################################################*/
.story-container{
    min-height: calc(100dvh - $mainNavHeight);
    max-height: calc(100dvh - $mainNavHeight);
    overflow-y: auto;
    scrollbar-width: thin;
}

.pages-list-horizontal-container{
    overflow-x: scroll;
    scrollbar-width: none;
    min-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow));
    max-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow));
}

.page-container {
    padding: $cardPagePadding;
    padding-right:$cardPagePaddingFirstAndLast;
    padding-left: $cardPagePaddingFirstAndLast;
    /*
    min-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow));
    max-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow)); 
    */
}
.pages-list-horizontal-container div.page-container:first-child{
    padding-left: $cardPagePadding;  
}
.pages-list-horizontal-container div.page-container:last-child{
   padding-right:$cardPagePadding;
}

.card-page-container {
    min-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow + 2*$cardPagePadding));
    max-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow + 2*$cardPagePadding));
    /*
    min-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow));
    max-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow));*/
}

.card-page{
    max-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow + 2*$cardPagePadding)); 
    //max-height: calc(100dvh - calc($mainNavHeight + $pagesListFollowingToShow));
}

.page-body-container{
    overflow-y: auto;
    scrollbar-width: thin
}

// PAGE FOOTER NAV 
.story-footer-button-text{
    font-size: 0.8rem; 
}


// PAGE EDIT MODAL 
.page-edit-modal{
   height: calc(100% - 40px); 
}
.page-edit-modal-form{
   height: calc(100% - 40px); 
   scrollbar-width: thin
}

.page-edit-modal-body{
    scrollbar-width: thin
}


/* ##############################################################
                    CHOICE COMPOMENTS 
##################################################################*/
// PAGE EDIT MODAL 
.choice-edit-modal{
   height: calc(100% - 40px); 
}
.choice-edit-modal-form{
   height: calc(100% - 40px); 
   scrollbar-width: thin
}

.choice-edit-modal-body{
    scrollbar-width: thin
}

//SCROLL SNAP VERTICAL AND HORIZONTAL
/*
.scrollbar-snap-y{
    scroll-snap-type: y mandatory;
}

.scrollbar-snap-section-y{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.scrollbar-snap-x{
    scroll-snap-type: x mandatory;
}

.scrollbar-snap-section-x{
    scroll-snap-align: center;
    scroll-snap-stop:always;
}*/

/* ##############################################################
                    MAP COMPONENT
##################################################################*/
.story-map {
    min-height: calc(100dvh - calc($mainNavHeight + 20px ));
    width: 100%;
    overflow: auto;
}

.buttons-container {
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.buttons-container button {
  margin-left: 5px; /* Ajouter une marge entre les boutons */
}


// MEDIA QUERY FOR PAGES 

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

//SM Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

//MD  Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

//LG Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

//XL X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

//XXL XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}
/*  PAGES CARD */
/*

.card-page-list{
    min-height: calc(100dvh - 100px);
    max-height: calc(100dvh - 100px);
}

.card-page-item{
    max-height: calc(100dvh - 120px);
    margin: 10px;
}

.card-page{
    overflow-y: auto;
    scrollbar-width: thin; 
}

.scrollbar-snap-x{
    scroll-snap-type: x mandatory;
    //overflow-x: scroll;
    scrollbar-width: none;
}

.scrollbar-snap-section-x
{
    scroll-snap-align: center;
    scroll-snap-stop:always;
}

*/
.cursor-pointer {cursor: pointer;}